:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --light-text-color: #ffffff;
  --light-invercion-text: #f4f4fd;

  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f4f4fd;
  --dark-bg-color: #2e2f42;

  --accent-color: #4d5ae5;
  --accent-color-dark: #404bbf;

  --border-light-color: #e7e9fc;
}

body {
  background-color: var(--primary-bg-color);

  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list {
  list-style-type: none;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.section-title {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
}

.subtitle {
  color: var(--secondary-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo.logo-inversion {
  color: var(--light-invercion-text);
}

.logo-accent {
  color: var(--accent-color);
}

/* header */

.page-header {
  border-bottom: 1px solid var(--border-light-color);
}

.page-header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header-wrap .link {
  padding-top: 24px;
  padding-bottom: 24px;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 76px;

  color: var(--secondary-text-color);
  font-weight: 500;
}

.site-nav {
  display: flex;
  gap: 40px;
}

.site-nav .link.current {
  color: var(--accent-color-dark);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color-dark);
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color-dark);
}

/* /header */

/* page-footer */

.page-footer {
  background-color: var(--dark-bg-color);
}

.footer-label {
  color: var(--light-invercion-text);
}
