/* hero-section */

.hero-section {
  background-color: var(--dark-bg-color);

  text-align: center;
}

.main-title {
  margin-bottom: 48px;

  color: var(--light-text-color);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

/* /hero-section */

/* features-section */
/* /features-section */

/* team-section */

.team-section {
  background-color: var(--secondary-bg-color);
}

.team-list {
  text-align: center;
}

.team-item {
  background-color: var(--primary-bg-color);
}

/* /team-section */

/* portfolio-section */
/* /portfolio-section */
