.page-wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-wrap {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  padding: 20px;
  width: 200px;
  background-color: var(--dark-bg-color);
  border-bottom: 1px solid var(--border-light-color);

  color: var(--primary-bg-color);
}

.main-page-flex {
  /* display: flex; */
  /* align-items: center; */
  flex-grow: 1;
  padding: 20px;
  background-color: var(--accent-color);

  color: var(--light-text-color);
}

/* ///////////////////////// */

.main-bg {
  background-image: linear-gradient(
      to bottom,
      rgba(77, 90, 229, 0.2),
      rgb(64, 75, 191, 0.2)
    ),
    url("../imgs/bg-imgs/dark-background-abstract.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
}

.box::before,
.box::after {
  content: "";
  display: inline-block;
  width: 300px;
  height: 300px;
  background-color: var(--accent-color-dark);
  box-shadow: 5px 5px 10px 3px var(--accent-color);
}

.box:hover::before,
.box:hover::after {
  background-color: red;
}
