.page-wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-wrap {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  padding: 20px;
  width: 200px;
  background-color: var(--dark-bg-color);
  border-bottom: 1px solid var(--border-light-color);

  color: var(--primary-bg-color);
}

.main-page-flex {
  flex-grow: 1;
  padding: 20px;
  background-color: var(--accent-color);

  color: var(--light-text-color);
}

/////////////////////////////////////////
